.customModalForgot :global(.ant-form-item-label) {
  overflow: unset;
}
.customModalForgot :global(.ant-form-item-label > label::after) {
  content: "";
}
.customModalForgot :global(.ant-modal-content) {
  border-radius: 3px;
  padding: 0;
}
.customModalForgot :global(.ant-modal-header) {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
