.button-register {
  width: 50%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #ff9000;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(255 144 0 / 0));
  --tw-gradient-to: #ad1403;
}

.button-login {
  width: 50%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #fdc965;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(253 201 101 / 0));
  --tw-gradient-to: #6c4e13;
}

.bgNavBarMb {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nen-info.png");
}

.swiper-button {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 3%;
  white-space: nowrap;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.custom-swiper :global(.swiper-button-prev) {
  position: absolute;
  top: 0;
  width: 13px;
  height: 100%;
  margin-top: 0;
  opacity: 1;
  z-index: 2;
  left: 0;
}

.custom-swiper :global(.swiper-button-next) {
  position: absolute;
  top: 0;
  width: 13px;
  height: 100%;
  margin-top: 0;
  --tw-bg-opacity: 1;
  /* background-color: rgb(45 118 153 / var(--tw-bg-opacity)); */
  opacity: 1;
  z-index: 2;
  right: 0;
}

.custom-swiper :global(.swiper-button-prev > svg) {
  width: 4.5px;
}

.custom-swiper :global(.swiper-button-next > svg) {
  width: 4.5px;
}

.custom-swiper :global(.swiper-button-prev::after) {
  display: none;
}

.custom-swiper :global(.swiper-button-next::after) {
  display: none;
}

.slideSize {
  width: 30px;
  height: 30px;
}

.button-togggle-bg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 2;
  width: 98px;
  height: 19px;
  background: rgba(114, 114, 114, 0.5);
  border-radius: 0 0 5px 5px;
}

.button-togggle-bg-icon-open {
  background: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/account/codicon_fold-down.svg");
  height: 50%;
  margin: 0 auto;
  width: 12px;
  background-size: cover;
}

.button-togggle-bg-icon-close {
  background: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/account/codicon_fold-up.svg");
  height: 50%;
  margin: 0 auto;
  width: 12px;
  background-size: cover;
}

.active {
  background-color: rgb(107 176 200 / 1);
}

.game-item-hot {
  position: relative;
  width: 31%;
  min-height: 80px;
  margin: 7px 3.5% 0 0;
}

.game-item-hot:nth-child(3n) {
  margin-right: 0;
}

.label-item-game-hot {
  width: 100%;
  height: 14px;
  line-height: 14px;
  margin-top: 2px;
  padding: 0 3px;
  transform: none;
  --tw-text-opacity: 1;
  color: rgb(31 96 124 / var(--tw-text-opacity));
  text-align: center;
  text-transform: uppercase;
  font-size: 9px;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400;
}

.image-item-game-hot {
  padding: 1px;
  background: linear-gradient(306deg,
      #357e9f 25%,
      #ffffff 50%,
      #357e9f 80%,
      #ffffff 100%);
  border-radius: 16px;
}

.image-item-game-hot img {
  display: block;
  width: 100%;
  border-radius: 16px;
  object-fit: contain;
  background: linear-gradient(358deg, #cff3ff 5%, #ffffff 65%);
}

.game-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-height: 90px;
  margin: 0.65rem 0;
  --tw-text-opacity: 1;
  color: rgb(45 118 153 / var(--tw-text-opacity));
  text-align: center;
}

.game-item-container {
  z-index: 1;
  position: relative;
  display: flex;
}

.label-item-game {
  position: absolute;
  width: 7rem;
  bottom: 2px;
  right: 5%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 8px;
  text-align: right;
  text-transform: uppercase;
  color: white;
}

.inforUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 39%;
  height: 100%;
  margin-top: 8px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 11px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;
}

.activeBalance {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61%;
  height: 100%;
}

.backgroundInfor {
  background: transparent;
}

.discountIcon {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/home/discount.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.vipIcon {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/home/vip.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.promotionIcon {
  background-image: url("https://q7sm4r.katawee.net/system-requirement/Web.MobileNew/UK251-01/14418bad09/assets/images/home/btn-up.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}