*, body {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    list-style: 1.3;
    color: #000000;
    font-style: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.wp-site {
    background-image: url(/images/account/bg-hotro789.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh !important;
    overflow-y: hidden;
    width: 100%;
    position: relative;
}

.container {
    max-height: 1100px;
}

.header {
    padding-top: 40px;
    background: transparent;
}

.header .display-4 {
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    transition: text-shadow 0.3s;
}

.btn-email {
    max-width: 272px;
    margin: auto;
    width: 100%;
    min-height: 60px;
    display: block;
}

.panner-content {
    display: flex;
    justify-content: space-between;
}

.image-center-iframe {
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.pannel-left {
    width: 50%;
}

.pannel-right {
    width: 45%;
    background: transparent;
    position: relative;
}

.box-panel {
    max-height: 612px;
    min-height: 580px;
    padding: 20px 40px !important;
    background-image: url(/images/account/layout-form.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.footer-supporter .title {
    font-size: 28.72px;
    margin-bottom: 0px;
}

.image-content-size {
    max-height: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto !important;
}

/* Bottom */
.btn-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.btn-list_link a {
    text-decoration: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.btn-thumb {
    max-width: 60px;
    width: 100%;
}

.btn-thumb img {
    border-radius: 10px;
}

.btn-name {
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.footer-supporter .heightline {
    background: var(--Linear, linear-gradient(180deg, #e68910 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom-truy-cap {
    padding: 13px 4px !important;
}

.footer {
    padding-left: 35px;
    padding-right: 35px;
}

/* End Bottom */

/* Media Screen */

@media screen and (max-width: 1440px) {
    .header-top h1 {
        font-size: 40px;
    }

    .image-content-size {
        max-height: 530px;
    }

    .panner-content {
        margin-top: 20px !important;
        gap: 40px !important;
    }

    .footer-supporter .title {
        font-size: 24.72px;
    }

    .btn-name {
        font-size: 16px;
    }

    .pannel-right {
        width: 45%;
        max-height: 700px;
    }

    .footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn-content {
        padding: 2px 5px !important;
    }

    .text-btn-main {
        font-size: 16px !important;
    }

    .image-center {
        max-width: 530px;
    }

    .pannel-right .main {
        margin-top: 10px !important;
        min-height: 545px;
    }

    .bd-btn {
        margin-bottom: 4px !important;
    }

    .tab-content.active {
        max-height: 240px !important;
    }

    .bottom-truy-cap {
        width: 32% !important;
        padding: 10px 4px !important;
    }

    .bottom-truy-cap span {
        font-size: 13px !important;
    }

    .box-panel {
        max-height: 612px;
        min-height: 500px;
        padding: 15px 15px;
    }
}

@media screen and (max-width: 1200px) {
    .header-top h1 {
        font-size: 35px;
    }

    .panner-content {
        margin-top: 0px !important;
    }

    .image-content-size {
        max-height: 450px;
    }

    .btn-email {
        max-width: 230px;
    }

    .btn-name {
        font-size: 14px;
    }

    .pannel-right {
        max-height: 630px;
        padding: 0 !important;
    }

    .pannel-right .main {
        min-height: 500px;
    }

    .footer {
        /* padding-left: 15px !important;
        padding-right: 15px !important; */
    }

    .bottom-truy-cap {
        border-radius: 22px !important;
        padding: 10px 6px !important;
    }

    .link-redirect {
        margin-top: 12px !important;
        gap: 9px !important;
    }

    .footer-supporter .title {
        font-size: 20.72px;
    }

    .btn-thumb {
        max-width: 45px;
    }

    .bottom-truy-cap {
        padding: 10px 4px !important;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        padding-top: 30px !important;
    }

    .image-content-size {
        max-height: 335px;
    }

    .btn-email {
        max-width: 200px;
        min-height: 50px;
    }

    .panner-content {
        gap: 15px !important;
    }

    .footer-supporter .title {
        font-size: 14.72px !important;
    }

    .custom-button.button1 {
        min-width: 90px !important;
        min-height: 77px !important;
    }

    .btn-name {
        font-size: 10px;
    }

    .item-tab {
        row-gap: 2px !important;
    }

    .bottom-truy-cap {
        padding: 4px 6px !important;
    }

    .bottom-truy-cap span {
        font-size: 9px !important;
    }

    .btn-thumb {
        max-width: 42px !important;
    }

    .text-btn-1 h2 {
        font-size: 15px !important;
    }

    /* .list-btn-funcion {
        gap: 1% !important;
    } */

    /* .icon-btn-main {
        max-width: 35px !important;
        max-height: 35px !important;
    } */

    .download-app-km {
        justify-content: space-between !important;
        gap: 41px !important;
    }

    .text-btn-main {
        font-size: 13px !important;
    }

    .pannel-right .main {
        min-height: 385px;
    }
}

/* End Media Screen */


/* Box Iframe */

#btn-tawk-small, #btn-reload {
    display: block;
    width: 35px;
    height: 35px;
    padding: 6px;
    background: var(--Linear, linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    fill: var(--Linear, linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    box-shadow: 0px 1.1222px 1.1222px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    right: -42px;
    z-index: 99;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

#btn-tawk-small .btn-close {
    color: #fff;
}

#btn-reload {
    top: 60px;
}

#btn-reload img {
    width: 25px;
    height: 25px;
}

.image-center-iframe {
    max-width: 700px;
    height: 100% !important;
}

#show-iframe-open {
    max-width: 700px;
    border-radius: 20px;
    height: 100% !important;
    background-color: #fff;
}

#box-iframe,
.code-iframe {
    height: 100%;
    border-radius: 10px;
    max-height: 100%;
    min-height: 465px;
    position: relative;
}

.chat-dialog {
    width: 100%;
}

#box-iframe .chat-dialog {
    height: 100%;
}

@media screen and (max-width: 1000px) {

    #btn-tawk-small {
        width: 30px;
        height: 30px;
        padding: 3px;
        right: -25px;
        top: -23px;
    }

    #btn-reload {
        top: -23px;
        height: 30px;
        width: 30px;
        right: 20px;
    }

    #btn-reload img {
        width: 20px;
        height: 20px;
        margin-top: -5px;
    }
}

/* End Box Iframe */
/* Form Option */

.custom-button {
    width: 100%;
    padding: 6px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s;
    border: 2px solid #888888;
}

.item-btn.active {
    content: '';
    border-radius: 20px;
    padding: 1px 2px;
    background: linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%);
}

.custom-button:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.button1 {
    background: var(--Linear, linear-gradient(180deg, #FFF 0%, #C2BEBE 50%, #FFF 100%));
    color: #000;
    /* Text color */
}

.custom-button.button1 {
    min-width: 85px;
    min-height: 85px;
    outline: none;
}

.info-btn {
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 28%;
}

.button2 {
    border-radius: 26.512px;
    padding: 5px;
    border: 0.842px solid #242424;
    background: linear-gradient(180deg, #000 0%, #313131 48.44%, #000 100%);
    box-shadow: 0px 1.1222px 1.1222px 0px rgba(0, 0, 0, 0.25);
}

.button2 span {
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 14.523px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.text-btn-1 {
    padding-top: 10px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.text-btn-1 h2 {
    margin-bottom: 0;
    color: #3B5AC8;
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.content {
    margin-top: 15px;
    padding-bottom: 15px;
}

.footer {
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.che-do {
    width: calc(100% / 5 + -20px);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 20%;
}

.download-app-km {
    gap: 70px;
    justify-content: space-between;
}

.w-bottom-btn {
    width: 42%;
}

.footer-mb-b {
    height: 134px;
}

.fixed-bottom {
    height: 134px;
    z-index: 0 !important;
    position: absolute !important;
}

.main {
    max-height: 100%;
}

.item-tab {
    height: 0;
    opacity: 0;
    width: 80%;
    overflow: hidden;
    transition: width 1s, opacity 0.6s;
    display: flex !important;
    flex-wrap: wrap;
    gap: 10px;
}

.item-tab.active {
    opacity: 1;
    height: auto;
    width: 100%;
}

.icon-btn-main img {
    width: 100%;
    height: auto;
}

.active .bg-bd-btn,
.bd-btn {
    border-radius: 20px;
    padding: 2px 2px;
    background: linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%);
}

.bd-btn {
    margin-bottom: 8px;
    width: calc(50% - 5px);
}

.btn-content {
    border-radius: 20px;
    background: var(--Linear, linear-gradient(180deg, #FFF 0%, #fffbf8 50%, #FFF 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    cursor: pointer;
    height: 100%;
}

.btn-content-1 {
    display: flex;
    margin: auto;
    align-items: center;
    text-decoration: none;
}

.btn-content-1:hover {
    text-decoration: none;
}

.icon-btn-main {
    margin-top: 4px;
    max-width: 55px;
    max-height: 55px;
    width: 100%;
    height: 100%;
}

.text-btn-main {
    padding-left: 0px;
    color: #3B5AC8;
    font-family: "Roboto";
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 900 !important;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.text-btn-main span {
    color: #3B5AC8;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 900 !important;
}

.list-btn-funcion {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.item-btn {
    width: 100%;
    flex-grow: 0;
}

.item-btn.active {
    border: none;
    outline: none;
}

.item-btn.active .button1 {
    background: linear-gradient(180deg, #000 0%, #313131 48.44%, #000 100%) !important;
}

.item-btn:hover .button1 {
    background: linear-gradient(180deg, #000 0%, #313131 48.44%, #000 100%);
}

.item-btn.active .text-btn-1 h2 {
    background: var(--Linear, linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-btn:hover .text-btn-1 h2 {
    background: var(--Linear, linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-redirect {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 20px;
}

.bottom-truy-cap {
    width: 30%;
    border-radius: 26.512px;
    padding: 13px 10px;
    background: var(--Linear, linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    fill: var(--Linear, linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    box-shadow: 0px 1.1222px 1.1222px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    text-decoration: none;
}

.bottom-truy-cap:hover {
    text-decoration: none;
}

.bottom-truy-cap span {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
}

.footer-mb-b {
    height: 142.029px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
}

.code-iframe {
    display: none;
}

.code-iframe.sp-btn-tab,
.code-iframe.pc-btn-tab {
    display: none !important;
}

.code-iframe.active {
    display: block !important;
    /* overflow-y: scroll; */
    height: 100% !important;
    overflow-x: hidden;
}

.code-iframe.active .chat-dialog {
    display: block !important;
}

.tab-content.active {
    max-height: 270px;
    overflow-y: scroll;
    box-sizing: content-box;
}

.item-tab.custiom.active {
    margin-bottom: 100px;
}

.tab-content::-webkit-scrollbar {
    display: none;
}

body div:where(.swal2-icon) {
    position: relative;
    box-sizing: content-box;
    justify-content: center;
    width: 4em !important;
    height: 4em !important;
    margin: 1em 31px 1em !important;
    border: 0.25em solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-color: #000;
    font-family: inherit;
    line-height: 3em;
    cursor: default;
    user-select: none;
}

.btn-redirectVip {
    text-align: center;
    background: #3085d6;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
}

.btn-redirectVip:hover {
    text-decoration: none;
    background: #3085d6;
    color: #fff;
}

body div:where(.swal2-icon).swal2-success [class^=swal2-success-line][class$=tip] {
    top: 2.7rem !important;
    left: 1.2em !important;
    width: 1em !important;
    transform: rotate(45deg) !important;
}

body div:where(.swal2-icon).swal2-success .swal2-success-ring {
    position: absolute;
    z-index: 2;
    top: 0em;
}

body div:where(.swal2-icon).swal2-success [class^=swal2-success-line][class$=long] {
    top: 2.375em !important;
    right: 0.5em !important;
    width: 1.9375em !important;
}

body div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
    display: block;
    position: absolute;
    top: 1.9em;
    width: 2em;
}

body .swal2-title {
    display: block;
    margin-top: -55px;
}

.pc-btn-tab2 {
    display: block;
}

.sp-btn-tab2 {
    display: none;
}

.image-bg-home {
    position: relative;
    z-index: 0;
}

.home.item-tab .content-popup {
    display: none;
}

.home.item-tab.active {
    position: relative;
}

.content-popup.pc-btn-tab {
    display: none;
}

.home.item-tab.active .content-popup {
    display: block;
}

.home.item-tab.active {
    position: relative;
}

.content-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    border-radius: 20px;
    margin: auto 0px;
    padding: 5px 10px 20px;
    margin-top: 50px;
    max-width: 490px;
    width: 100%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    overflow-y: auto;
    border: 5px solid transparent;
}

.icon-close {
    position: sticky;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    justify-content: flex-end;
}

.content-popup h2 {
    margin-top: -35px;
}

.content-popup::-webkit-scrollbar {
    width: 3px;
}

.content-popup::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey;
}

.code-iframe.active::-webkit-scrollbar {
    width: 3px;
}

.code-iframe.active::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    background-color: lightgrey;
}

@media screen and (max-width: 768px) {
    .content-popup {
        margin: auto;
        width: calc(100% - 40px);
        height: 65vh;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -15%);
        overflow-y: scroll;
    }
}

*::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}


.list-btn-funcion {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.item-btn {
    width: 100%;
    flex-grow: 0;
}

.item-btn.active {
    border: none;
    outline: none;
}

.item-btn.active .button1 {
    background: linear-gradient(180deg, #000 0%, #313131 48.44%, #000 100%) !important;
}

.item-btn:hover .button1 {
    background: linear-gradient(180deg, #000 0%, #313131 48.44%, #000 100%);
}

.item-btn.active .text-btn-1 h2 {
    background: var(--Linear, linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-btn:hover .text-btn-1 h2 {
    background: var(--Linear, linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-redirect {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.bottom-truy-cap {
    width: 30%;
    border-radius: 25px;
    padding: 10px 10px;
    background: var(--Linear, linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    fill: var(--Linear, linear-gradient(180deg, #FF9A17 -0.55%, #FF921B 18.06%, #FF7B27 47.38%, #FF5739 83.49%, #FF3849 109.45%));
    box-shadow: 0px 1.1222px 1.1222px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    text-decoration: none;
}

.bottom-truy-cap:hover {
    text-decoration: none;
}

.bottom-truy-cap span {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
}

/* End Form Option */
@media not all and (min-width: 768px) {
    .fixed-bottom {
        position: fixed !important;
    }
}