.itemInfo {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
  line-height: 2.5em;
}

.navbarDeposit {
  height: 60px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 12px;
  font-weight: 500;
  --tw-bg-opacity: 1;
  background-color: rgb(45 118 153 / var(--tw-bg-opacity));
  display: flex;
  align-items: center;
}

.itemNavBarDeposit {
  height: 100%;
  padding: 0.5rem;
  text-align: center;
  width: 33%;
  position: relative;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 12px;
  font-weight: 500;
  --tw-bg-opacity: 1;
  background-color: rgb(45 118 153 / var(--tw-bg-opacity));
}
.lineItem::before {
  content: "";
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  border-left-width: 1px;
  height: 2.25rem;
  left: -0.25rem;
  position: absolute;
}

.itemTypeDeposit {
  position: relative;
  display: flex;
  width: calc(33.3333333333% - 6px);
  min-height: 46px;
  padding: 0 0.25rem;
  margin: 0 0 6px 5px;
  border: 3px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(103 191 233 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(123 191 212 / var(--tw-border-opacity));
  justify-content: center;
}

.popupContainer {
  position: fixed;
  bottom: 0;
  top: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10000;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
}

.popupShow {
  top: 0;
}

.overlayPromition {
  opacity: 1;
  background: rgba(0, 0, 0, 0.32);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.boxTitle {
  position: relative;
  width: calc(100vw - 40px);
  height: 52px;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 52px;
  z-index: 99;
  font-weight: 500;
  border-radius: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(45 118 153 / var(--tw-bg-opacity));
}

.buttonClose {
  position: absolute;
  right: 0.5rem;
  z-index: 10;
  font-size: 1.5rem;
  line-height: 52px;
  top: 0;
}

.listPromotion {
  height: 100vh;
  padding: 8px 15px;
  color: #000;
  overflow-y: hidden;
  background: white;
  position: absolute;
  top: 26px;
  width: 100%;
}
