.bgHeaderLg {
  background-image: url(https://media.cskh14.com/public/789bet/site-quatang/7cca106b-f2c2-480a-9c58-1444041d699c.mp4);
}

.bg-header-top {
  background: url(https://media.cskh14.com/public/789bet/site-quatang/7cca106b-f2c2-480a-9c58-1444041d699c.mp4) repeat-x;
}

.btnLogin {
  min-width: 148px;
  height: 38px;
  color: #fc8f00;
  line-height: 36px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background: #1d1d1d;
  border-radius: 47px;
  border: 1px solid #fc8f00;
  cursor: pointer;
  text-transform: uppercase;
}

.btnLogin:hover {
  background-color: #fc8f00;
  color: #fff;
}

.btnRegister {
  margin-left: 16px;
  margin-right: 16px;
  min-width: 148px;
  height: 38px;
  color: #fc8f00;
  line-height: 36px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background: #1d1d1d;
  border: 1px solid transparent;
  border-radius: 47px;
  cursor: pointer;
  text-transform: uppercase;
}

.btnRegister:hover {
  color: #fff;
}

.rechangeButton {
  min-width: 150px;
  height: 28px;
  margin-right: 2px;
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 7px;
  background-color: #4c9bb6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-bottom: 2px;
  font-weight: bold;
  font-family: sans-serif !important;
}

.swicthPanel {
  width: 120px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 7px;
  background-color: #ff4435;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  font-family: inherit;
}

.listOptions {
  position: absolute;
  top: 60px;
  right: 15px;
  width: 180px;
  height: auto;
  z-index: 2;
  font-size: 12px;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 0;
}

.listOptions::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 54px;
  width: 12px;
  height: 6px;
  background: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/account/99ffcd1fe1fbf3243e569bcb603b2f3f.png");
}

.option {
  width: 224px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 16px;
}

.li {
  padding-left: 5px;
  cursor: pointer;
  line-height: 18px;
  font-size: 15px;
  font-weight: 500;
}