.classIconTheThaoMobile {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/sport.png");
  background-repeat: no-repeat;
}

.classIconTheThaoMobileActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/sport.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconTheThao {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/thethao.png");
  background-repeat: no-repeat;
}

.classIconTheThaoActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/thethao.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconCasinoMobile {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/casino.png");
  background-repeat: no-repeat;
}

.classIconCasinoMobileActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/casino.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconCasino {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/casino.png");
  background-repeat: no-repeat;
}

.classIconCasinoActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/casino.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconNoHuMobile {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/nohu.png");
  background-repeat: no-repeat;
}

.classIconNoHuMobileActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/nohu.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconNoHu {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/game.png");
  background-repeat: no-repeat;
}

.classIconNoHuActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/game.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconBanCaMobile {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/banca.png");
  background-repeat: no-repeat;
}

.classIconBanCaMobileActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/banca.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconBanCa {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/banca.png");
  background-repeat: no-repeat;
}

.classIconBanCaActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/banca.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconBai3DMobile {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/gamebai.png");
  background-repeat: no-repeat;
}

.classIconBai3DMobileActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/gamebai.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconBai3D {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/gamebai.png");
  background-repeat: no-repeat;
}

.classIconBai3DActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/gamebai.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconDaGaMobile {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/daga.png");
  background-repeat: no-repeat;
}

.classIconDaGaMobileActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/daga.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconLiveGameMobile {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/home/live_game.png");
  background-repeat: no-repeat;
}

.classIconLiveGameMobileActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/home/live_game.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconDaGa {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/daga.png");
  background-repeat: no-repeat;
}

.classIconDaGaActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/daga.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconXoSoMobile {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/xoso.png");
  background-repeat: no-repeat;
}

.classIconXoSoMobileActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/xoso.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconXoSo {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/xoso.png");
  background-repeat: no-repeat;
}

.classIconXoSoActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/xoso.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconLiveGame {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/livegame.png");
  background-repeat: no-repeat;
}

.classIconLiveGameActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/livegame.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconKM {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/khuyenmai.png");
  background-repeat: no-repeat;
}

.classIconKMActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/khuyenmai.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconApp {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/taiapp.png");
  background-repeat: no-repeat;
}

.classIconAppActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/taiapp.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.classIconDL {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/daily.png");
  background-repeat: no-repeat;
}

.classIconDLActive {
  background-image: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/nav/daily.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.bg-full-100vw {
  width: 100vw;
}

.item-game {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 172px;
  height: 51px;
  margin-right: 21px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: #ccc;
  cursor: pointer;
  position: relative;

}

.item-game:hover {
  box-shadow: 0 0 37.7px 0 #0ff;
  transform: scale(1.08);
  transition: all 0.3s;
  background-color: #fff;
}

.promotionItem::after {
  content: "";
  position: absolute;
  right: -30px;
  top: -5px;
  width: 60px;
  height: 60px;
  background: url("https://cdn.jsdelivr.net/gh/snail5555/akv@main/789bet/images/casino/hoantra.gif");
}

.manNav:before {
  content: '';
  position: absolute;
  left: 100%;
  top: -80px;
  width: 57px;
  height: 65px;
  margin-left: -57px;
  background: url(/images/signature-home.png) no-repeat center;
  background-size: contain;
}